// variables
$primary-color:#d3ad7f;
$secondary-color:#13131a;
$background:#010103;
$border: 1px solid black;
$font: 'roboto', 'serif';
$text-color: rgb(151, 144, 144);
$primary-radius: 10px;
$secondary-radius: 50%;
$shadow: 0px 2px 4px rgba(0,0,0,0.3);
$size: 15px;
